html {
  background: url(images/splash_home.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#main {
    text-align: center;
    position:fixed;
    top: 50%;
    left: 50%;
    width:20em;
   height:18em;
   margin-top: -9em;
   margin-left: -10em;

}

#login {
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

#register {
    display:none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}



fieldset{
    border: 2px solid rgba(0, 0, 0, 0.7);
}

legend {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    /*font-weight: bold;*/
}

input{
    font-family:'Raleway', sans-serif;
    font-size:15px;
}

input[type="text"],input[type="password"] {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    height: 2em;
    /*outline: none;*/
    border: 1px solid rgba(185,185,185,1);
    margin-bottom: 10px;
    padding-left:5px;
}

input[type="text"]:focus,input[type="password"]:focus{
    outline: none !important;
    border: 1px solid rgba(69, 134, 255, 1);

}

input[type="submit"] {
    background-color: rgba(255,255,255,0.5);
    border: 1px solid rgba(185,185,185,1);
    padding: 0.3em 0.8em;
    color: rgba(69, 134, 255, 1);
}

input[type="submit"]:focus{
    outline: 1px solid rgba(69, 134, 255, 1);
}


.login_register{
    border: none;
    background-color: rgba(69, 134, 255, 0);
    text-decoration:none;
    font-family:'Raleway', sans-serif;
    font-size:12px;
    color: rgba(69, 134, 255, 1);
}

.login_register:hover,input[type="submit"]:hover{
    color: rgba(69, 134, 255, 0.5);
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.login_register:focus{
    outline:none;
}
